:root {
    --nord0:   #2E3440;
    --nord1:   #3B4252;
    --nord2:   #434C5E;
    --nord3:   #4C566A;
    --nord4:   #D8DEE9;
    --nord5:   #E5E9F0;
    --nord6:   #ECEFF4;
    --nord7:   #8FBCBB;
    --nord8:   #88C0D0;
    --nord9:   #81A1C1;
    --nord10:  #5E81AC;
    --nord11:  #BF616A;
    --nord12:  #D08770;
    --nord13:  #EBCB8B;
    --nord14:  #A3BE8C;
    --nord15:  #B48EAD;
    --font: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Ubuntu", 
    "Cantarell", "Fira Sans", "Droid Sans","Helvetica Neu Helvetica", "Arial", sans-serif;   
}

{ outline: 2px salmon;
}

body{
    font-family: (var --font);
    color: #544392;
}
 header {
    width: 960px;
    margin: 0 auto;
    display: flex;
 }
 header {
    background-color: #81A1C1;
    color: cornsilk;
    padding-top: 20px;
    padding-left: 20px;
 }
 section {
    width: 960px;
    margin-left: 50px;
}

 h1 {
    margin-left: 150px;
 }
 /* ul {
    list-style-type: ;
 } */
section {
    width: 50%;
}

article{
    width: 800px;
    margin: 0 auto;
    display: flex;
}
 imag {
    width: 200px;
    height: 200px;
    margin-right: 16px;
        
 }
 nav {
    margin-left: 380px;
 }
 